{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Rango!!!{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
    {% else %}
        <h1>Rango says... hello world!</h1>
    {% endif %}
    {% if categories %}
        <h4> Popular Categories! </h4>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    {% if pages %}
        <h4> Popular Pages! </h4>
        <ul>
            {% for page in pages %}
            <a href="{{ page.url }}"><li>{{ page.title }}</li></a>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no pages present.</strong>
    {% endif %}
    <p> visits: {{ visits }}</p>
{% endblock %}