<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
    <head>
        <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
                <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
                <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
                <li><a href="{% url 'auth_password_change' %}">Change password</li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register Here</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}

            <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
    </body>
</html>